.left-content__nav-bar{
    background-image: url('/assets/leseni.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 1.5rem;
    position: relative;

    ul {
        font-size: 1.5rem;
        font-weight: 700;
    }
    li {
        padding: .2rem 1.5rem;
    }
    a{  
        border-radius: 15%;  
        background-color: black;
        padding: .1rem .3rem;
    }
    a:hover{
        color: red;
    } 
    .left-content__contact-me{
        position: absolute;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px black;    
        background-color: black;
        width: 300px;
        height: 150px;
        border-left: 1rem solid #C82523;
        bottom: 0;
    }
}